.r-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 8.7rem);
    width: 100vw;
    margin-top: 7rem;
    background: rgba(255,255,255,.9);
}

.r-container form{
    width: 40rem;
    padding: 1.7rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    margin: 1.5rem;
    background: #fff;
}

.r-container form h3{
    font-size: 2.5rem;
    color: var(--black);
    text-align: center;
    text-transform: uppercase;
}

.r-container form span{
    display: block;
    padding-top: 1rem;
    font-size: 1.5rem;
}

.r-container form .box{
    width: 100%;
    margin: .5rem 0;
    font-size: 1.3rem;
    border-radius: .5rem;
    border: var(--border);
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
}

.r-container form .checkbox{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.r-container form .checkbox label{
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--light-color);
}

.r-container form .btn{
    text-align: center;
    margin: 1.5rem 0;
    width: 100%;
}

.r-container form div{
    display: flex;
    font-size: 1.3rem;
    align-items: center;
}

.r-container form div p{
    padding-top: .8rem;
    color: var(--light-color);
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.r-container form div p span{
    color: var(--blue);
    cursor: pointer;
    margin-bottom: 1.1rem;
}
