.home{
    width: 100%;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
}

.home .img{
    height: 100px;
    display: inline-block;
    margin: 2rem 4rem;
}

.img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media (max-width:768px) {
    .home{
        top: 65px;
    }

    .home .img{
        margin: 1rem 2rem;
    }
}
