.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 9%;
  box-shadow: var(--box-shadow);
}


html {
  overflow-x: hidden;
}

.container {
  width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .logo {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: bolder;

  /* height: 60px;
  width: 60px; */
}

.container .logo img{
  width: 100%;
  width: 100%;
  object-fit: cover;
}

.container .logo .dot {
  font-weight: bold;
  color: var(--blue);
}

.links {
  display: flex;
  position: relative;
  float: left;
}

.links span {
  padding: 1.5rem;
  display: block;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--black);
  transition: all 300ms ease-in;
}

.links span:hover {
  color: var(--blue);
  font-weight: 500;
} 
/* 
.links .active~span{
  color: var(--blue);
} */

.links .sub-links {
  position: absolute;
  top: 50px;
  right: -7rem;
  width: 18rem;
  border: var(--border);
  border-radius: 0.5rem;
  border-top: none;
  background: #fff;
  transition: 1s ease-out;
  display: none;
}

.links :hover .sub-links {
  display: block;
}

.links .sub-links NavLink{
  width: 100%;
}

.firstDiv {
  display: none;
}

.fa-user {
  font-size: 2.5rem;
  color: var(--light-color);
  cursor: pointer;
  display: none;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
  font-size: 1.5rem;
}

.user img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.user .options {
  position: absolute;
  top: 50px;
  right: -5rem;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  z-index: 999;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 150px;
  font-weight: 400;
  color: #777;
}

@media (max-width: 768px) {
  html {
    overflow-x: hidden;
  }

  header {
    width: 100%;
  }

  header .fa-user {
    display: block;
  }

  header .firstDiv {
    display: block;
  }

  header .btn {
    display: none;
  }

  header .links {
    display: block;
    position: absolute;
    top: 115%;
    left: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    background: #fff;
    width: 25rem;
    transform: scale(0);
    opacity: 0;
    transform-origin: top left;
    transition: none;
  }

  header .links.active {
    transform: scale(1);
    opacity: 1;
    transition: all 0.2s ease-out;
  }

  header .links span {
    display: block;
    font-size: 2rem;
  }

  header .links span{
    width: 100%;
  }

  header .links .sub-links{
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
  }
}

@media (max-width: 450) {
  html {
    font-size: 50%;
  }

  header {
    width: 100%;
  }
}
