.u-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 8.7rem);
  width: 100vw;
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  margin-top: 7rem;
}

.u-container .img {
  width: fit-content;
  height: 370px;
  border: 0.2rem dashed #555;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.u-container .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.u-container .img span {
  font-size: 2.5rem;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: bold;
}

.buttons label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3rem;
  width: 500px;
}

@media (max-width: 768px) {
  .u-container {
    overflow-x: hidden;
  }

  .u-container .img{
    width: 300px;
    height: 270px;
  }
}
